APP_NAME=AI Code Reviewer
APP_VERSION=1.0.0
DEBUG=True

LOG_LEVEL=INFO


MISTRAL_API_KEY="38H471GVp6fvBze9QtgiRZxtAX3prOxO"

DEV_DB_URL = "mssql+pyodbc://acpldev:Acpl%40%231989@192.168.1.220:40891/master?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes"
UAT_DB_URL = "mssql+pyodbc://pratikb_UAT:Ind%21%407760@192.168.1.215:23318/master?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes"

SECRET_KEY = "8518186d-sfadf4d68f41a-68d4f1a634d1-ad1a64ad8fa"

RESEND_API_KEY="re_iVADEtcG_2TFgertCpJX5NCU9oenndLKv"